@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
    box-sizing: border-box;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

    .wrapper:focus {
        outline: 0;
    }

.clash-card {
    background: white;
    width: 250px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    margin-left: 50px
}

.clash-card__image {
    position: relative;
    height: 150px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

    .clash-card__image--barbarian img {
        width: 280px;
        position: absolute;
        top: -65px;
        left: -10px;
        margin-bottom: 10px;
    }

.clash-card__unit-stats--barbarian {
    background: #EC9B3B;
}

    .clash-card__unit-stats--barbarian .one-third {
        border-right: 1px solid #BD7C2F;
    }

.clash-card__unit-stats--goblin {
    background: #82BB30;
}

.clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

    .clash-card__unit-stats .one-third {
        width: 33%;
        float: left;
        padding: 20px 15px;
    }

    .clash-card__unit-stats sup {
        position: absolute;
        bottom: 4px;
        font-size: 45%;
        margin-left: 2px;
    }

    .clash-card__unit-stats .stat {
        position: relative;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .clash-card__unit-stats .stat-value {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
    }

    .clash-card__unit-stats .no-border {
        border-right: none;
    }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}
